<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title>Index</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<h1>Welcome to the CoffeeShop</h1>
		<p>
			<a href="/user" th:href="@{/menu}">Menu</a>
		</p>
		<ul>
			<li>Orders <a href="/user" th:href="@{/user}">Place an order</a></li>
			<li>New user? <a href="register" th:href="@{/register}">Create an account</a></li>
		</ul>
	</div>
</body>
</html>